@page "/"
<img src="/image/InventoryManagement.png" height="600" width="550" />
<img src="/image/In2.png" height="600" width="550" />

<div style="display:block; width:50%; margin: 0 auto">
    <br/><br/><br/><br/>
    <h1 style="font-size: 50px">Inventory Management System</h1>
    <br/>
    <div style="width:500px; font-size: 30px; margin-left: 50px">
         <b>Welcome to Inventory Management. Manage your inventory.</b>
     </div>
     
    <br/><br/><br/><br/><br/><br/>
</div>
<img src="/image/In3.jpg" height="600" width="550" />
<img src="/image/in4.png" height="600" width="550" />
